$main-color: #D04A02;
$second-color: #333333;


.current__container,
.information__container,
.historic__container,
.detail__container{
  width: 90%;
  max-width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top:150px;
  left: 4.5%;
  // height: 90%;
}
.query__container{
  width: 90%;
  max-width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top:150px;
  left: 4.5%;
  -webkit-box-shadow: 2px 8px 13px -3px rgba(0, 0, 0, 0.59);
	box-shadow: 2px 8px 13px -3px rgba(0, 0, 0, 0.59);
}

.register{
  background-color: $main-color;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.current__container{
  padding: 2rem;
  .current-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    input{
      border-color: transparent;
      background-color: rgba(232, 232, 232, 1);
      outline-color: none;
      outline: none;
    }
    
    
  }
  table{
    .border-table{
      border-bottom: $main-color 2.5px solid;
  }
  }
}
.imgLogin img{
  height: 740px;
  width:520px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box-form{
  margin: 10px auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-gray {
  background-color:#C4C4C4;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 
