$main-color: #D04A02;
$second-color: #333333;


.current__container,
.information__container,
.historic__container,
.detail__container{
  width: 90%;
  max-width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top:150px;
  left: 4.5%;
  // height: 90%;
}
.query__container{
  width: 90%;
  max-width: 90%;
  margin: auto;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top:150px;
  left: 4.5%;
  // -webkit-box-shadow: 2px 8px 13px -3px rgba(0, 0, 0, 0.59);
	// box-shadow: 2px 8px 13px -3px rgba(0, 0, 0, 0.59);
  height: 50px;
}
.group-contain > div{
  width: 100  0px;
  background-color: #ffff;
    margin-bottom: 1rem;
    padding: 2rem;
}
.btn-login{
  white-space: pre;
  background-color:rgba(51, 51, 51, 1);
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  height: 2rem;
  display: flex;
justify-content: center;
align-items: center;
}

.register{
  background-color: $main-color;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.current__container{
  padding: 2rem;
  .current-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    input{
      border-color: transparent;
      background-color: rgba(232, 232, 232, 1);
      outline-color: none;
      outline: none;
    }
    
    
  }
  table{
    .border-table{
      border-bottom: $main-color 2.5px solid;
  }
  }
}
.imgLogin img{
  height: 740px;
  width:550px;
}

.recoverPassword{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .return-login{
      background-color: #ffffff;
      border: $main-color;
    border-radius: 50%;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    svg{
    color: #ffff;
    font-size: 1.5rem;
    }
    
    }
}
.header-recover{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: 20px;
}
.div-input{
  max-width: 100%;
  background-color: #FFFFFF;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
  font-size: 16px;
  width: 500px;
  svg{
    justify-content: center;
    text-align: center;
    height: 55px;
    color: #acacac;
    font-size: 20px;
  }
  input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    border-radius: 5px;
  }
}
.recuperar{
  color: #ffffff;
  margin:auto;
    height: 55px;
    background-color: $main-color;font-weight: 600;
    justify-content: center;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    margin: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box-form{
  margin: 10px auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.atendida{
  color:rgba(226, 51, 29, 1) !important;
  font-weight: bold !important;
}
.pendiente{
  color: #9A9A9A !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}
.view{
  color: rgba(51, 51, 51, 1);
    margin-left: 2rem;
    font-size: 1.2rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-gray {
  background-color:#C4C4C4;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 
