@import 'App.scss';
p,
h1,
h2,
h3,
a {
  font-family: Arial, Helvetica, sans-serif;
}
.detail__container{
    height: 100px;
    .detail-card{
        display: flex;
        flex-direction: row;
        .detail{
            margin-left: 2rem;
            width: 100%;
            div {
                margin-top: 2rem;
                p{
                margin-bottom: 0.2rem;
            }
        }
        }
        .detail-state{
            display: flex;
    flex-direction: column;
    justify-content: space-between;
        }
    }
    .consult-detail{
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;

        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }
        .user-consult{
            width: 100%;
            border-radius: 0.5em;
            padding: 0 0.8rem;
            margin-left: 1rem;
            box-sizing: border-box;
            .name-consult{
                margin-bottom: 1rem;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
    table{
        margin-top: 1.5rem;
        .border-table{
            border-bottom: $main-color 2.5px solid;
        }
    }
    .add-consult{
        position: relative;
    }
}
.detail__container > div {
    // height: 100px;
    background-color: #ffff;
    margin-bottom: 1rem;
    padding: 2rem;
}