@import 'App.scss';
p,
h1,
h2,
h3,
a {
  font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    margin-bottom: 1.2rem;
    .logo-logout{
      background-color: #FFFFFF;
      height: 70px;
      img{
        height: 40px;
        float: left;
      }
      button{
        float: right;
      }
    }
    nav{
      background-color: $main-color;
      height: 170px;
      a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1rem;
      }
      .activeRoute{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      }
    }
}