@import 'App.scss';
p,
h1,
h2,
h3,
a {
  font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    margin-bottom: 1.2rem;
    .logo-logout{
      padding: 1%;
      background-color: #FFFFFF;
      height: 70px;
      img{
        height: 40px;
        float: left;
      }
      .logout{
        display: flex;
        float: right;
        align-items: center;
        img{
          padding-right: 1rem;
          border-radius: 50%;
          object-fit: cover;
        }
        button{
          text-decoration: none;
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
    nav{
      background-color: $main-color;
      height: 170px;
      display: flex;
      align-items: flex-start;
      position: sticky;
      top: 0;
      
      a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1rem;
        margin: 2% 4%;
      }
      .activeRoute{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
      }
    }
}